<div class="container-fluid">
    <div class="col-12 m-2">
        <div id="board">
            <div class="row" id="RA">
                <div class="square" id="A1"><p class="sq_title">A1</p>-1</div>
                <div class="square" id="A2"><p class="sq_title">A2</p>-1</div>
                <div class="square" id="A3"><p class="sq_title">A3</p>-1</div>
                <div class="square" id="A4"><p class="sq_title">A4</p></div>
                <div class="square" id="A5"><p class="sq_title">A5</p></div>
                <div class="square" id="A6"><p class="sq_title">A6</p></div>
                <div class="square" id="A7"><p class="sq_title">A7</p></div>
                <div class="square" id="A8"><p class="sq_title">A8</p></div>
                <div class="square" id="A9"><p class="sq_title">A9</p></div>
            </div>
            <div class="row" id="RB">
                <div class="square" id="B1"><p class="sq_title">B1</p>-1</div>
                <div class="square" id="B2"><p class="sq_title">B2</p>-1</div>
                <div class="square" id="B3"><p class="sq_title">B3</p>-1</div>
                <div class="square" id="B4"><p class="sq_title">B4</p></div>
                <div class="square" id="B5"><p class="sq_title">B5</p></div>
                <div class="square" id="B6"><p class="sq_title">B6</p></div>
                <div class="square" id="B7"><p class="sq_title">B7</p></div>
                <div class="square" id="B8"><p class="sq_title">B8</p></div>
                <div class="square" id="B9"><p class="sq_title">B9</p></div>
            </div>
            <div class="row" id="RC">
                <div class="square" id="C1"><p class="sq_title">C1</p>-1</div>
                <div class="square" id="C2"><p class="sq_title">C2</p>-1</div>
                <div class="square" id="C3"><p class="sq_title">C3</p>-1</div>
                <div class="square" id="C4"><p class="sq_title">C4</p></div>
                <div class="square" id="C5"><p class="sq_title">C5</p></div>
                <div class="square" id="C6"><p class="sq_title">C6</p></div>
                <div class="square" id="C7"><p class="sq_title">C7</p></div>
                <div class="square" id="C8"><p class="sq_title">C8</p></div>
                <div class="square" id="C9"><p class="sq_title">C9</p></div>
            </div>
            <div class="row" id="RD">
                <div class="square" id="D1"><p class="sq_title">D1</p>-1</div>
                <div class="square" id="D2"><p class="sq_title">D2</p>-1</div>
                <div class="square" id="D3"><p class="sq_title">D3</p>-1</div>
                <div class="square" id="D4"><p class="sq_title">D4</p></div>
                <div class="square" id="D5"><p class="sq_title">D5</p></div>
                <div class="square" id="D6"><p class="sq_title">D6</p></div>
                <div class="square" id="D7"><p class="sq_title">D7</p></div>
                <div class="square" id="D8"><p class="sq_title">D8</p></div>
                <div class="square" id="D9"><p class="sq_title">D9</p></div>
            </div>
            <div class="row" id="RE">
                <div class="square" id="E1"><p class="sq_title">E1</p>-1</div>
                <div class="square" id="E2"><p class="sq_title">E2</p>-1</div>
                <div class="square" id="E3"><p class="sq_title">E3</p>-1</div>
                <div class="square" id="E4"><p class="sq_title">E4</p></div>
                <div class="square" id="E5"><p class="sq_title">E5</p></div>
                <div class="square" id="E6"><p class="sq_title">E6</p></div>
                <div class="square" id="E7"><p class="sq_title">E7</p></div>
                <div class="square" id="E8"><p class="sq_title">E8</p></div>
                <div class="square" id="E9"><p class="sq_title">E9</p></div>
            </div>
            <div class="row" id="RF">
                <div class="square" id="F1"><p class="sq_title">F1</p></div>
                <div class="square" id="F2"><p class="sq_title">F2</p></div>
                <div class="square" id="F3"><p class="sq_title">F3</p></div>
                <div class="square" id="F4"><p class="sq_title">F4</p></div>
                <div class="square" id="F5"><p class="sq_title">F5</p></div>
                <div class="square" id="F6"><p class="sq_title">F6</p></div>
                <div class="square" id="F7"><p class="sq_title">F7</p></div>
                <div class="square" id="F8"><p class="sq_title">F8</p></div>
                <div class="square" id="F9"><p class="sq_title">F9</p></div>
            </div>
            <div class="row" id="RG">
                <div class="square" id="G1"><p class="sq_title">G1</p></div>
                <div class="square" id="G2"><p class="sq_title">G2</p></div>
                <div class="square" id="G3"><p class="sq_title">G3</p></div>
                <div class="square" id="G4"><p class="sq_title">G4</p></div>
                <div class="square" id="G5"><p class="sq_title">G5</p></div>
                <div class="square" id="G6"><p class="sq_title">G6</p></div>
                <div class="square" id="G7"><p class="sq_title">G7</p></div>
                <div class="square" id="G8"><p class="sq_title">G8</p></div>
                <div class="square" id="G9"><p class="sq_title">G9</p></div>
            </div>
            <div class="row" id="RH">
                <div class="square" id="H1"><p class="sq_title">H1</p></div>
                <div class="square" id="H2"><p class="sq_title">H2</p></div>
                <div class="square" id="H3"><p class="sq_title">H3</p></div>
                <div class="square" id="H4"><p class="sq_title">H4</p></div>
                <div class="square" id="H5"><p class="sq_title">H5</p></div>
                <div class="square" id="H6"><p class="sq_title">H6</p></div>
                <div class="square" id="H7"><p class="sq_title">H7</p></div>
                <div class="square" id="H8"><p class="sq_title">H8</p></div>
                <div class="square" id="H9"><p class="sq_title">H9</p></div>
            </div>
            <div class="row" id="RI">
                <div class="square" id="I1"><p class="sq_title">I1</p></div>
                <div class="square" id="I2"><p class="sq_title">I2</p></div>
                <div class="square" id="I3"><p class="sq_title">I3</p></div>
                <div class="square" id="I4"><p class="sq_title">I4</p></div>
                <div class="square" id="I5"><p class="sq_title">I5</p></div>
                <div class="square" id="I6"><p class="sq_title">I6</p></div>
                <div class="square" id="I7"><p class="sq_title">I7</p></div>
                <div class="square" id="I8"><p class="sq_title">I8</p></div>
                <div class="square" id="I9"><p class="sq_title">I9</p></div>
            </div>
        </div>

        <div id="numbers" class="row">
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N1">1 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N2">2 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N3">3 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N4">4 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N5">5 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N6">6 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N7">7 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N8">8 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="N9">9 </div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="pencil"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></div>
            <div class="square numbers bg-dark text-white pl-1 pr-1" id="pen"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                    viewBox="0 0 16 16">
                    <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg></div>
        </div>
        <div class="col-10">
            <div class="m-1">
                <form id="options">
                    <input type="checkbox" id="show_sq_id">
                    <label for="show_sq_id">Show Square Id</label>
                </form>
            </div>
        </div>
    </div>
</div>