<div class="container-fluid">
  <div class="row">
    <div class="col-10 p-0 m-0" (click)="onBoardClick($event)" id="board">
      <div *ngFor="let r of rows" class="row m-0" id="R{{r}}">
        <app-cell *ngFor="let i of rowsCount" class="col p-0 C{{i}}" cellId="{{r}}{{i}}"></app-cell>
      </div>
    </div>
    <div class="col-1" id="numbers" (click)="numberClicked($event)">
      <div class="numbers bg-dark text-white" id="N1">
        <div class="btn_numbers">1</div>
      </div>
      <div class="numbers bg-dark text-white" id="N2">
        <div class="btn_numbers">2</div>
      </div>
      <div class="numbers bg-dark text-white" id="N3">
        <div class="btn_numbers">3</div>
      </div>
      <div class="numbers bg-dark text-white" id="N4">
        <div class="btn_numbers">4</div>
      </div>
      <div class="numbers bg-dark text-white" id="N5">
        <div class="btn_numbers">5</div>
      </div>
      <div class="numbers bg-dark text-white" id="N6">
        <div class="btn_numbers">6</div>
      </div>
      <div class="numbers bg-dark text-white" id="N7">
        <div class="btn_numbers">7</div>
      </div>
      <div class="numbers bg-dark text-white" id="N8">
        <div class="btn_numbers">8</div>
      </div>
      <div class="numbers bg-dark text-white" id="N9">
        <div class="btn_numbers">9</div>
      </div>
      <div class="numbers bg-dark text-white" id="pencil">
        <div class="btn_numbers">
          <svg class="bi bi-pencil" fill="currentColor" height="16" viewBox="0 0 16 16"
               width="16" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
        </div>
      </div>
      <div class="numbers bg-dark text-white" id="pen">
        <div class="btn_numbers">
          <svg class="bi bi-pen" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="m-1">
        <form id="options">
          <input (change)="onShowCellId($event)" id="show_cell_id" type="checkbox">
          <label for="show_cell_id">Show cell Id</label>
        </form>
      </div>
    </div>
  </div>
</div>
