#board {
  min-width: 55rem;
}

.btn_numbers {
    position: relative;
    top: 25%;
}

.numbers {
  margin: .2rem;
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  text-align: center !important;
  border: thin solid #000000;
  border-radius: .2rem;
    font-size: 1.2rem;
    width: 4rem;
    height: 4rem;
}

.crosshair {
    cursor: crosshair;
}
