.square {
    margin: .2rem;
    font-size: 2rem;
    width: 6rem;
    height: 6rem;
    text-align: center !important;
    border: thin solid #000000;
    border-radius: .2rem;
}

.numbers {
    font-size: 1.2rem;
    width: 4rem;
    height: 4rem;
}

.selected {
    color: white;
    background-color: black;
}

.selected-red {
    color: white;
    background-color: red;
    /*opacity: .85;*/
}

.grid-dark {
    color: white;
    background-color: #5a6268;
}

.crosshair {
    cursor: crosshair;
}

.sq_value {
    font-size: 1.8rem;
    text-align: center;
    transform: translateY(-60%);
    /*top: 50%;*/
}

.sq_title {
    font-size: 0.8rem;
}