.cell_value {
  font-size: 3rem;
  margin-top: 0.4rem;
  text-align: center;
}

.cell_title {
  font-size: 0.8rem;
}

.cell_guesses {
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  font-size: 0.4rem;
}

.cell {
  margin: 0;
  font-size: 2rem;
  min-width: 6rem;
  min-height: 6rem;
  text-align: center !important;
  border: thin solid #000000;
  border-radius: .2rem;
}

.grid-dark {
  color: white;
  background-color: #5a6268;
}
.guess-match {
  color: white;
  background-color: red;
}
