<div class="cell" id="{{cellId}}">
  <div class="row p-0 m-0 g-0">
    <div class="cell_guesses col">
      <div class="guess invisible" id="guess1">1</div>
      <div class="guess invisible" id="guess2">2</div>
      <div class="guess invisible" id="guess3">3</div>
      <div class="guess invisible" id="guess4">4</div>
      <div class="guess invisible" id="guess5">5</div>
      <div class="guess invisible" id="guess6">6</div>
      <div class="guess invisible" id="guess7">7</div>
      <div class="guess invisible" id="guess8">8</div>
      <div class="guess invisible" id="guess9">9</div>
    </div>
    <div class="cell_value col">{{cellValue}}</div>
    <div class="cell_title col invisible">{{cellId}}</div>
  </div>
</div>
